html, body { 
	background-color:#000;
	background-image:url('../images/bg.jpg');
	background-repeat:repeat;color:#939393;
	font-family:'Tahoma', Geneva, sans-serif;
}
#header, #form {
	text-align:center;
	width:615px;
	background-color:rgba(49,47,45,0.5);
	border:1px solid #252525;
	margin:5px auto;
	padding:5px;
}
#form {
	margin:0 auto;
	padding:10px 5px;
}
#footer {
	font-size:.85em;
	text-align:center;
	width:615px;margin:0 auto;
}
A:hover {
	text-decoration:underline;
	color:#6A6A6A;
}
A:link,A:visited,A:active {
	text-decoration:none;
	color:#FFF;
}